In [1]:
import numpy as np
import pandas as pd

### Series Exercises

Write a Pandas program to convert a Pandas module Series to Python list and modify its type.

In [3]:
ds = pd.Series([2, 4, 6, 8, 10])

print("Pandas Series and type")
print(ds)
print("Data type: {}\n".format(ds.dtype))

print("Convert Pandas Series to Python list...")
# put your code here to convert series to list
python_list = [i for i in ds.values]

print("Python list data: {}".format(python_list))
print("Check Python list type: {}\n".format(type(python_list)))

print("Convert data to float...")
# put your code here to convert data to float
converted_ds = ds.astype('float')

print(converted_ds)
print("Check float data type: {}\n".format(converted_ds.dtype))

Pandas Series and type
0     2
1     4
2     6
3     8
4    10
dtype: int64
Data type: int64

Convert Pandas Series to Python list...
Python list data: [2, 4, 6, 8, 10]
Check Python list type: <class 'list'>

Convert data to float...
0     2.0
1     4.0
2     6.0
3     8.0
4    10.0
dtype: float64
Check float data type: float64

Write a Pandas program to add, subtract, multiple and divide two Pandas Series.

In [ ]:
ds1 = pd.Series([2, 4, 6, 8, 10])
ds2 = pd.Series([1, 3, 5, 7, 9])

ds_add = ds1 + ds2
print("ds1 + ds2 = \n{}\n".format(ds_add))

ds_sub = ds1 - ds2
print("ds1 - ds2 = \n{}\n".format(ds_sub))

ds_prod = ds1 * ds2
print("ds1 * ds2 = \n{}\n".format(ds_prod))

ds_div = ds1 / ds2
print("ds1 / ds2 = \n{}\n".format(ds_div))

Write a Pandas program to convert Series of lists to one Series.

In [7]:
s = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
print("Original Series of list")
print(s)

# write here your code
s = pd.Series([j for i in s.index for j in s[i]])
print(s)

Original Series of list
0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

Write a Pandas program to add some data to an existing Series.

In [20]:
s = pd.Series(['100', '200', 'python', '300.12', '400'])
print("Original Data Series:")
print(s)

print("\nAdding new data to Series")
# write your code here
s = pd.concat([s,pd.Series(['new value'])]) # or use add
print(s)

Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Adding new data to Series
0          100
1          200
2       python
3       300.12
4          400
0    new value
dtype: object

Write a Pandas program to create a subset of a given series containing only values greater than 6.

In [23]:
s = pd.Series([0,1,2,3,4,5,6,7,8,9,10])
print("Original Data Series:")
print(s)

print("Selecting only elements greater than 6")
# write your code here
new_series = s[s > 6]
print(new_series)

Original Data Series:
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int64
Selecting only elements greater than 6
7      7
8      8
9      9
10    10
dtype: int64

Write a Pandas program to change the order of index of a given series.

In [3]:
s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])
print("Original Data Series:")
print(s)

print("Changing index order...")
# write your code here
s = s.reindex(index=['D','C','E','A','B'])
print(s)

Original Data Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64
Changing index order...
D    4
C    3
E    5
A    1
B    2
dtype: int64

Write a Pandas program to calculate the mean and standard deviation of the data of a given Series.

In [25]:
s = pd.Series(data = [1,2,3,4,5,6,7,8,9,5,3])
print("Original Data Series:")
print(s)

# write your code here
print(s.mean())
print(s.std())

Original Data Series:
0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9     5
10    3
dtype: int64
4.818181818181818
2.522624895547565

# Dataframes exercises

 Write a Pandas program to get the first 3 rows of a given DataFrame.

In [4]:

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)

# write your code here
out_df = df.head(3)
print(out_df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

Write a Pandas program to select the 'name' and 'score' columns from the following DataFrame.

In [10]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)

# write your code here  
out_df = df[['name','score']] # data.loc[:,['name', 'score']]
print(out_df)

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

Write a Pandas program to select the specified columns and rows from a given DataFrame.
Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.

In [14]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)

# write your code here
out_df = df.iloc[[1,3,5,6],[0,1]]
print(out_df)

      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

Write a Pandas program to select the rows where the score is missing, i.e. is NaN.

In [19]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']


df = pd.DataFrame(exam_data , index=labels)

# write your code here
out_df = df[np.isnan(df['score'])]
print(out_df)

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

Write a Pandas program to select the rows the score is between 15 and 20 (inclusive).

In [22]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)


# write your code here
out_df = df[(df['score'] >= 15) & (df['score'] <=20)]
print(out_df)

        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

 Write a Pandas program to change the score in row 'd' to 11.5.

In [27]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print("\nOriginal data frame:")
print(df)

# write your code here
df['score']['d'] = 11.5 
print(df)

Original data frame:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

/tmp/ipykernel_3144/1425536506.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['score']['d'] = 11.5

Write a Pandas program to calculate the sum of the examination attempts by the students.

In [31]:
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df)

# write your code here
print(df['attempts'].sum())

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
19